* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

button {
  background-color: gray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: darkblue;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

a {
  background-color: darkslategray;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  display: block;
  color: yellow;
  margin: .7rem 0;
}

a:hover {
  color: orange;
  background-color: black;
}

@media (min-width: 200px) {
  a {
    width: 10%;
    box-sizing: content-box;
  }
}
