.heroes {
  padding: 0;
  width: 15em;
  margin: 0 0 2em 0;
  list-style-type: none;
}

.heroes .id {
  display: inline-block;
  font-size: small;
  color: yellow;
  background-color: darkslategray;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  color: darkblue;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

/* Мишка наведена на елемент li (кнопку) */
.heroes li:hover {
  left: .5em;
}

/* Мишка наведена на кнопку */
.heroes a:hover {
  background-color: yellow;
}

/* Кнопка */
.heroes a {
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: lightgray;
}

/* Момент натискання мишкою на кнопку.
Або затиснута мишка на кнопці робить її активною */
.heroes a:active {
  background-color: orangered;
}
